/*
    DARKEST: #031926
    GRAY: #465362
    BlueGreen: #468189
    LightBlueGreren: #9DBEBB
    bright blue: #437DAD


*/
body, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: #031926;
}

a {
    color: #437DAD;
}

h2{
    color: #468189;
}
.btn-primary {
    background-color: #437DAD;
    border-color: #031926;
}


.page-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;

}

.group-header {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
    margin-bottom: 15px;

}



.project-due {
    height: 50px;
    padding-top:15px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.project-update {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    padding: 5px 5px;
    margin-bottom: 15px;
    background-color: #f2f3f4;
}

.project-description{
    font-size:16px;
    margin-bottom: 22px;
}

.timestamp{
    font-size:14px;
    font-weight:100;
    color:gray;
}

.task-table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.task-table th{
    font-family:inherit;
    font-weight: 300;
    font-size: 18px;
}

.task-table tr{
    font-family: inherit;
    font-weight: 300;
    font-size:18px;
}

.project-details{
    font-size: 16px;
}

.project-container {
    margin-bottom: 40px;
}

.header-edit{
    font-size:18px;
    vertical-align: text-top;
}

.complete{
    color:green;
    font-weight:400;
}

.project-tile{
    height:200px;
    overflow: hidden;
}

/*nav*/
.navbar-default {
    background-color: #468189;
    border-color: #9dbebb;
}

    .navbar-default .navbar-brand {
        color: #9dbebb;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #031926;
        }

    .navbar-default .navbar-text {
        color: #9dbebb;
    }

    .navbar-default .navbar-nav > li > a {
        color: #9dbebb;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #031926;
        }

    .navbar-default .navbar-nav > li > .dropdown-menu {
        background-color: #468189;
    }

        .navbar-default .navbar-nav > li > .dropdown-menu > li > a {
            color: #9dbebb;
        }

            .navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
            .navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
                color: #031926;
                background-color: #9dbebb;
            }

        .navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
            background-color: #9dbebb;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #031926;
        background-color: #9dbebb;
    }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #031926;
        background-color: #9dbebb;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #031926;
        background-color: #9dbebb;
    }

    .navbar-default .navbar-toggle {
        border-color: #9dbebb;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #9dbebb;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #9dbebb;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #9dbebb;
    }

    .navbar-default .navbar-link {
        color: #9dbebb;
    }

        .navbar-default .navbar-link:hover {
            color: #031926;
        }

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #9dbebb;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #031926;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #031926;
        background-color: #9dbebb;
    }
}