@model IEnumerable<WorkItem>

<h1>Recently Completed</h1>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title <a asp-action="itemdetail" asp-route-id="@item.WorkItemId">view</a></td>
                <td>@item.Description</td>
                <td>@TimeZoneInfo.ConvertTime(item.LastUpdated, (TimeZoneInfo.FindSystemTimeZoneById("Central Standard Time"))).ToString("g")</td>
            </tr>
        }
    </tbody>
</table>